{% extends "base.html" %} {% block content %}

<h2>Age and Gender Predictor App</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h4 id="result" class="result" >
        <span> </span>
    </h4>
    <br><br>
    <p>Please follow the following image naming conventions to try this App:</p> 
    <img src="static/naming.png" alt=""  style="width:300px;height:100px;">
  

</div>

{% endblock %}

